<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>

<div class="col-xl-12 jumbotron jumbotron-fluid">
    <div class="container">
        <img src="/img/warning.png" class="rounded mx-auto d-block animated bounceInDown" alt="Tristone Flowtech">
      <h1 class="display-4 text-center animated bounceInDown" display: inline-block>Acceso Denegado</h1>
        <hr>
        <br>
        <a href="http://10.56.99.21:9675/portal/portal-login">
        <input type="button" class="btn btn-warning btn-lg btn-block animated bounceInDown" value="Contacte a Soporte"></input>
    </a>

    </div>
  </div>
</div>




<% include ./static/footer %>
</div>
</body>
</html>
