<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>

<div class="col-xl-12 jumbotron jumbotron-fluid animated bounceInDown">
    <div class="container">
        <img src="/img/TristoneLogo.png" class="rounded mx-auto d-block" alt="Tristone Flowtech">
        <h1 class="display-4 text-center">Liberación de Mandriles</h1>
        <p class="lead text-center">Sistema de liberación de mandriles</p>


        <div class="card bg-light  ">
            <div class=" card-header text-white bg-<%=data.color2%> text-center"><%= data.status2%></div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <td>ID Mandril:</td>
                            <td><%= data.id%></td>
                        </tr>
                        <tr>
                            <td>Comentario:</td>
                            <td><%= data.comentario%></td>
                        </tr>

                </table>
            </div>
        </div>
    </div>
</div>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, '/');
    }
</script>
<% include ./static/footer %>
</div>
</body>

</html>