<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>

<div class="col-md-10 col-lg-10-2 col-xl-11">

  <div class="row row mt-1 animated fadeIn fast">
    <div class="col-lg-6">
      <img id="loginImg" src="/img/tristone_logo_head.png" class="rounded mx-auto d-block" alt="Tristone Flowtech">
    </div>
  </div>

  <form id="login" action="/<%=data%>" method="POST">


    <div class="row row mt-4 animated fadeIn fast">
      <div class="col-lg-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend ">
            <span class="animated jello slow cdelay-2 input-group-text bg-secondary text-white  fas fa-key rounded"
              id="basic-addon1"></span>
          </div>
          <input type="password" placeholder="Contraseña" id="user" class="form-control rounded" name="user" required>
        </div>
      </div>
    </div>

    <div class="row animated fadeIn fast">
      <div class="col-lg-6">

        <div class="box-footer">
          <button id="login_button" type="submit" class="btn btn-primary btn-lg btn-block" disabled>Iniciar
            Sesion</button>
        </div>
        <div class="alert alert-danger text-center mt-1" id='danger-alert' role="alert">
          <span>Contraseña Incorrecta</span>
        </div>
      </div>
    </div>

  </form>
</div>
<% include ./static/footer %>
</div>
</body>

</html>

<script>
  user.addEventListener("keyup", function (e) {
    accesos = <%- JSON.stringify(data2) %>;

    var id = $('#user').val();


    for (var i = 0; i < accesos.length; i++) {
      if (id == accesos[i].acc_id) {

        $('#login_button').prop("disabled", false);
        break;

      } else {
        
        $('#login_button').prop("disabled", true);

        if (id.length >4) {
          $("#danger-alert").show()
          setTimeout(function () {
            $("#danger-alert").slideUp(500);
          }, 1000);
        }


      }
    }

  });
</script>