<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Liberacion Mandriles</title>

  <link rel="icon" sizes="57x57" href="/img/icon.png">
  <!-- npm Css -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/animate.css/animate.min.css">
  <!-- Custom Css -->
  <link rel="stylesheet" type="text/css" href="/css/simple-sidebar.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.css" />
  <link rel="stylesheet" type="text/css" href="/css/buttons.bootstrap4.css" />
  <!-- Graph ChartJs -->
  <script src="/chart.js/dist/Chart.min.js"></script>

  <!-- JSPDF  -->
  <script type="text/javascript" src="/jspdf/dist/jspdf.min.js"></script>
</head>

<body>

  <div class="d-flex" id="wrapper">