    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading bg-dark text-white" ><span class="fas fa-car"></span> Tristone Flowtech </div>
        <div class="list-group list-group-flush">
          <a href="/" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-tachometer-alt"></span>  Dashboard</a>
          <a href="/crear_mandril" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-plus-circle"></span> Nuevo Mandril</a>
          <a href="/status_mandriles" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-check-square"></span>  Liberar</a>
          <a href="/mandriles" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-table"></span>  Status</a>
          <a href="http://10.56.99.21:9675/portal/portal-login" target="_blank" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-ticket-alt"></span> Soporte</a>
          
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
